.container {
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: nowrap;
  box-sizing: border-box;
  z-index: 100;
  background-color: #ffc736;
}

.notifications {
  position: fixed;
  top: 10px;
  right: 50px;
  width: 300px;
  z-index: 1;
}
