.container {
  width: 1000px;
  margin: auto;
  padding: 45px 50px;
}

.buttons_navigation {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.buttons_navigation button {
  margin-left: 30px;
}


.quiz__title {
  display: block;
  margin: auto auto 20px auto;
  font-size: 30px;
  color: #444343;
  text-align: center;
  border: none;
  box-shadow: -1px 16px 38px -32px rgba(0,0,0,0.75);
}

.quiz__title:focus {
  outline: none;
}

.container .quiz__description {
  margin: 30px 3px 0 30px;
  width: 826px;
}

.questions {
  margin-top: 40px;
}

.question {
  display: flex;
  margin-top: 30px;
}

.question__number {
  color: #A6A6A6;
  font-size: 18px;
  font-weight: bold;
  margin-right: 15px;
}

.question__body {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.question__input {
  min-height: 120px;
  margin-bottom: 7px;
}

.question__closeBtn {
  width: 30px;
  height: 30px;
  font-size: 20px;
  margin-left: 15px;
  color: #A6A6A6;
  background: none;
  border: none;
}

.question__closeBtn:hover {
  color: #e16f60;
}

.question__closeBtn:focus {
  outline: none;
}

.button_addOption,
.button_addQuestion {
  margin-left: 35px;
}

.attachments button {
  font-size: 23px;
  color: #A6A6A6;
  background: none;
  border: none;
  margin-right: 5px;
}

.attachments button:hover {
  color: #000000;
}

.answers {
  margin-top: 20px;
}

.answer {
  display: flex;
  margin-bottom: 20px;
}

.button {
  width: 20px;
  height: 20px;
  margin: 0 15px 0 0;
  font-size: 25px;
  border: none;
  color: #A6A6A6;
  background: none;
  padding: 0;
}

.button:focus {
  outline: none;
}

.button_correct:hover,
.button_selected {
  color: #000000;
}

.button_remove {
  margin: 0 0 0 15px;
  font-size: 17px;
}

.button_remove:hover {
  color: #e16f60;
}
