.container {
  display: flex;
  min-height: 100vh;
  background: #fff;
}

.container_question {
  padding: 20px 0;
}

.card {
  max-height: 100vh;
  flex-basis: 70%;
  padding: 80px 11%;
  border: 1px solid #ECF0F3;
  border-radius: 5px;
  background: #fff;
  overflow: scroll;
}

.info {
  display: flex;
  padding: 80px 0;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 30%;
  background: #83D2CA;
}
