.formGroup {
  position: relative;
}

.formGroup .icon {
  position: absolute;
  top: 24px;
  left: 12px;
  line-height: 38px;
  font-size: 13px;
  opacity: 0.3;
}

.button_icon {
  position: absolute;
  top: 24px;
  right: 30px;
  margin: 0;
  padding: 0 5px;
  line-height: 38px;
  font-size: 13px;
  opacity: 0.3;
  background: none;
  border: none;
}

.button_icon:focus {
  outline: none;
}

.formGroup .input {
  padding-left: 35px;
}

