.container {
  width: 800px;
  padding: 30px 0;
  margin: auto;
}

.container h1 {
  margin-bottom: 30px;
}

.card {
  min-height: 147px;
  margin-bottom: 20px;
}

a .card_createNew {
  min-height: 147px;
  margin-bottom: 20px;
  background: #ffd569;
  color: #000;
  border: none;
}

.link:hover {
  text-decoration: none;
  color: #000;
}

.card_createNew button {
  display: none;
}

.card:hover {
  background-color: #f7f8f8;
}

a .card_createNew:hover {
  background-color: #ffd978;
}
