.container_logo {
  flex-basis: 35%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 70px;
  background-color: #80D2CA;
}

.container_form {
  flex-basis: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}

.text_logo {
  margin-top: 15px;
  text-align: center;
  font-size: 17px;
  color: #000;
}

.form {
  width: 450px;
}

.notifications {
  position: fixed;
  top: 10px;
  right: 50px;
  width: 300px;
  z-index: 1;
}
